services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    networks:
      - web_network
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8053:80/tcp"   # Web interface on port 8053
    environment:
      TZ: ${TZ}
      WEBPASSWORD: ${PIHOLE_PASSWORD}
      FTLCONF_LOCAL_IPV4: ${PIHOLE_HOST_IP}
      PIHOLE_DNS_: 1.1.1.3;1.0.0.3   # Cloudflare DNS (malware blocking)
      DNSMASQ_LISTENING: all
    volumes:
      - ${DATA_ROOT}/pihole/config:/etc/pihole
      - ${DATA_ROOT}/pihole/dnsmasq:/etc/dnsmasq.d
    dns:
      - 127.0.0.1
      - 1.1.1.1
    cap_add:
      - NET_ADMIN

networks:
  web_network:
    external: true
